<header id="l-header">
    <div class="container">
        <div class="row logo">
            <div class="col-lg-7">
                <h1>{{ site.name }}</h1>
              {% for line in site.shout %}
                <p>{{ line }}</p>
              {% endfor %}
            </div>
<!--
            <div class="col-lg-5">
              {% for line in site.shout %}
                <p>{{ line }}</p>
              {% endfor %}
            </div>
-->
        </div>

        <div class="row navicon">
            <a href=""><i class="fa fa-navicon"></i></a>
        </div>

        <div class="row navbar">
            <nav class="col-lg-8 col-md-8 col-xs-12">
                <ul class="row">
                    <li class="col-lg-4"><a href="{{ '/' | relative_url }}">HOME</a></li>
                    <li class="col-lg-4">
                        <ul class="subnav">
                            <a href="javascript:void(0)">POST</a>
                            <li><a href="{{ '/category' | relative_url }}">CATEGORY</a></li>
                            <li><a href="{{ '/tag' | relative_url }}">TAG</a></li>
                        </ul>
                    </li>
<!--
                    <li class="col-lg-3"><a href="{{ '/resume' | relative_url }}">WHO?</a></li>
-->
                    <li class="col-lg-4"><a href="{{ '/about' | relative_url }}">Who?</a></li>
                    <li class="col-lg-4">
                        <ul class="subnav">
                            <a href="javascript:void(0)">SITES</a>
                            <li><a href="{{ '/rampage' | relative_url }}">Rampage</a></li>
                            <li><a href="{{ '/death_beast' | relative_url }}">Death Beast</a></li>
                            <li><a href="{{ '/uhr' | relative_url }}">UHR</a></li>
                        </ul>
                    </li>
<!--
                    <li class="col-lg-4"><a href="{{ '/rampage' | relative_url }}">Rampage</a></li>
                    <li class="col-lg-4"><a href="{{ '/death_beast' | relative_url }}">Death Beast</a></li>
                    <li class="col-lg-4"><a href="{{ '/uhr' | relative_url }}">UHR</a></li>
-->
                </ul>
            </nav>

            <div class="search col-lg-4 col-md-4 col-xs-12">
                <form>
                    <label for="search"></label>
                    <input id="search-input" name="serach" type="text" placeholder="Search Blog Posts...">
                    <i class="fa fa-search"></i>
                </form>
            </div>
        </div>
    </div>
</header>