---
layout: default
---

{% assign my = site.data.me %}
<div class="row" id="about">
    <header id="title">
        <img src="{{ my.avatar_img | relative_url }}">
        <h1>{{ my.name }} | <small>{{ my.job | upcase }}</small></h1>
    </header>

    <section id="intro">
        <H2>{{ my.hi }}</H2>
        {% for line in my.intro %}
        <p>{{ line }}</p>
        {% endfor %}
    </section>
<!--
    <section id="skillsets">
        <h2>SKILL SETS</h2>
        {% for skillset in my.skills %}
          <div>
            <i class="{{ skillset.icon-class }}" title=" {{ skillset.name }}"></i>
            {% for skill in skillset.list %}
              <span>{{ skill }}</span>
            {% endfor %}
            <hr>
          </div>
        {% endfor %}
    </section>
-->
<section id = "body">
<HR>
<P>Vic Evicerator has been inflicting metal music on the underground for over 2 decades. And he doesn't feel like slowing down anytime soon. Well, honestly, almost 3 decades if you count those first flounderings with my very first bass and my very first band. You'd think I would know better than that by now. I guess I'm a slow learner.</P>

<P>Mark Knopfler and Dire Straits was who made me want to play at all. Ozzy and Black Sabbath was who made me want to play LOUD. Metallica was who made me want to play angry and fast. And Venom was who made me want to keep going farther, and that there's no such fucking thing as too fucking far.</P>

<P>My main project, Rampage, started in 1996 (or re-started, if you count the 'first-learning-to-play' noise that I made when first got that aforementioned first bass) and still limping along. I also started underground CD-R label Unsung Heroes Records in that same year to be able to let others hear that music. Originally starting off between a Vanity Press and a Bootleg Label, UHR eventually blossomed into a real label with other bands signing and even leaving UHR for even greener pastures (Barbarian Wrath, Osmose, Autopsy Kitchen, and Dipsomaniac Recordings are only a few of those later homes for some of our former artists). I helped found underground thrashers Death Beast in 2002, and they are still going today as well.</P>

<P>Sounds like a lot of stories got glossed over, right? Well, that's what the blog is for. That kept a semi-intermittent log of everything I've done since 2004, just after all of the moving parts described above started moving. Occasional forays into bullshit and daily life are interspersed with news, historical tellings of important events, philosophical musings about music, art, or why "Christian Metal" is an oxymoron.</P>

<P>So, check it out - unless you have something better to do.</P>
<table align=center>
 <TR width=75%>
  <TD width=33%>
   <a href="/death_beast/"><img src="/assets/img/db_beast.jpg" width=225px></a>
  </TD>
  <TD width=33%>
   <a href="/uhr/"><img src="/assets/img/uhr_logo.jpg" width=225px></A>
  </TD>
  <TD width=33%>
   <a href="/rampage/"><img src="/assets/img/newramp_logo.jpg" height=225px></A>
  </TD>
 </TR>
</table>
<HR>
</section>
    <section id="findme">
        <h3>FIND ME ON</h3>
        <ul>
          {% for social in my.social %}
            <li><a href="{{ social.link }}"><i class=" {{ social.icon-class }}"></i></a></li>
          {% endfor %}
        </ul>
    </section>
<!--
    <section id="action">
        <h2>MORE</h2>
        <a href="{{ '/resume' | relative_url }}">Check out my resume</a>
    </section>
-->
</div>